@use './_colors' as c;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 70px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: c.$background-color;
}

a {
	text-decoration: none;
}

button {
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
}

.wrapper {
	margin: 0 auto;
	max-width: 1440px;
}

.section {
	margin: 0 auto;
	padding: 5rem 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1440px;
	color: c.$text-color;
	.text-box {
		text-align: center;
		.description {
			word-spacing: 0.3rem;
			font-size: 1.5rem;
			padding: 2rem 0;
		}
	}
}

.heading {
	position: relative;
	display: inline;
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
	&::before {
		position: absolute;
		bottom: -0.5rem;
		width: 100%;
		height: 2px;
		background-color: c.$main-color;
		content: '';
	}
}

::-webkit-scrollbar {
	width: 1.5rem;
}
::-webkit-scrollbar-track {
	border-left: 1px solid rgb(15, 15, 15);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background-color: #474747;
	box-shadow: inset 0 0 6px #474747;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #474747;
}

.nav {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 2rem;
	background-color: c.$background-color-nav;
	z-index: 1000;
	&--header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@keyframes wave {
			0%,
			100% {
				clip-path: polygon(0% 0%, 14% 0, 27% 14%, 40% 26%, 53% 38%, 67% 48%, 80% 51%, 100% 49%, 100% 99%, 0% 99%);
			}

			50% {
				clip-path: polygon(0 59%, 14% 54%, 30% 53%, 45% 56%, 57% 46%, 66% 31%, 78% 17%, 100% 0, 100% 99%, 0% 99%);
			}
		}
		.nav--title {
			display: flex;
			align-items: center;
			gap: 2rem;
			p {
				position: relative;
				font-size: 2rem;
				color: c.$main-color;
				text-transform: uppercase;
				span {
					position: absolute;
					left: 0;
					color: c.$text-color;
					animation: wave 3s ease-in-out infinite;
				}
				span:hover {
					animation-play-state: paused;
				}
			}

			img {
				width: 2.5rem;
				height: 2.5rem;
			}
		}
		.nav--menu {
			position: relative;
			width: 3rem;
			height: 3rem;
			.bars {
				&,
				&::after,
				&::before {
					position: absolute;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #fff;
					content: '';
				}
				&::after {
					bottom: 10px;
				}
				&::before {
					bottom: -10px;
				}
			}
		}
	}

	&--links {
		display: none;
		a {
			position: relative;
			padding: 0 1rem;
			margin: 1rem 0;
			text-transform: uppercase;
			font-size: 1.6rem;
			color: c.$text-color;
			transition: color 0.3s;
			&::before {
				position: absolute;
				left: -1rem;
				height: 100%;
				width: 4px;
				transition: background-color 0.3s;
				content: '';
			}
			&:hover {
				color: c.$main-color;
				&::before {
					background-color: c.$main-color;
				}
			}
		}
	}
	&--links.show {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding-top: 2rem;
	}
}

.header {
	position: relative;
	height: 100vh;
	&--small {
		height: 40vh;
	}
	&--image {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url('../img/small-hero-bg.jpg');
		background-size: cover;
		background-position: center;
	}
	&--shadow {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		.text-box {
			color: c.$text-color;
			text-align: center;
			h1 {
				text-transform: uppercase;
				font-size: 3.5rem;
			}
			p {
				margin-top: 1rem;
				font-size: 1.5rem;
			}
			span {
				color: c.$main-color;
			}
			.btn {
				display: inline-block;
				margin-top: 2.5rem;
				padding: 1rem 2rem;
				border: 1px solid c.$main-color;
				border-radius: 2.5rem;
				font-size: 1.5rem;
				color: c.$text-color;
				text-transform: uppercase;
				transition: background-color 0.3s;
				&:hover {
					background-color: c.$main-color;
				}
			}
		}
	}
	@keyframes arrowMove {
		0% {
			bottom: 4rem;
		}

		50% {
			bottom: 0;
		}
		100% {
			bottom: 4rem;
		}
	}
	i {
		position: absolute;
		bottom: 5rem;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 4rem;
		color: c.$main-color;
		z-index: 999;
		animation: arrowMove 5s infinite;
	}
}

.film {
	video {
		margin: 0 auto;
		width: 100%;
		max-width: 80rem;
		border-radius: 2.5rem;
	}
}

.guide {
	.cards {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
		.card {
			width: 20rem;
			height: 20rem;
			border-radius: 1.5rem;
			overflow: hidden;
			&__lic {
				.card--image {
					background-image: url('../img/liceum.jpg');
				}
			}
			&__tech {
				.card--image {
					background-image: url('../img/technikum.jpg');
				}
			}
			&--image {
				position: relative;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
			}
			&--shadow {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.8);
			}
			&--title {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 2rem;
				text-transform: uppercase;
				&__lic {
					color: #4cc4e2;
				}
				&__tech {
					color: #4ce254;
				}
			}
		}
	}
}

.about-us {
	display: flex;
	align-items: center;
	.text-box {
		padding-bottom: 2rem;
	}
	img {
		border-radius: 2.5rem;
		width: 100%;
		max-width: 80rem;
	}
}

.map {
	iframe {
		margin: 0 auto;
		width: 100%;
		max-width: 800px;
		border-radius: 2.5rem;
	}
}

.contact {
	a {
		color: c.$text-color;
	}
	.text-box {
		margin-top: 2rem;
		.description {
			padding: 0.5rem 0;
			i {
				color: c.$main-color;
			}
		}
	}
}

.ranking {
	.text-box {
		.heading {
			font-size: 2rem;
		}
		.description {
			.search-box {
				display: inline;
				border-bottom: 1px solid c.$main-color;
				input {
					background: none;
					border: 0;
					padding: 0 1rem;
				}
				input,
				button {
					color: c.$text-color;
				}
				input:focus {
					outline: none;
				}
			}
		}
	}

	.cards,
	.podium {
		padding: 4rem 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5rem;
	}

	.podium {
		gap: 8rem;
	}

	.card {
		position: relative;
		width: 20rem;
		min-height: 20rem;
		border-radius: 25px;
		overflow: hidden;
		transition: transform 0.3s;
		color: c.$text-color;

		&--first_place,
		&--second_place,
		&--third_place {
			transform: scale(1.2);
			p.hide,
			img.hide {
				height: auto;
				opacity: 1;
			}
		}

		&--img {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		&--content {
			padding: 2rem;
			position: absolute;
			top: 0;
			display: flex;
			gap: 0.5rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			z-index: 10;
			text-align: center;
			P:nth-of-type(1) {
				font-size: 3rem;
			}
			p:nth-of-type(2) {
				font-size: 1.2rem;
			}
			h2 {
				text-transform: uppercase;
				font-size: 1.4rem;
				font-weight: normal;
			}
			img {
				padding-top: 0.2rem;
				width: 80%;
			}
		}

		&:hover {
			transform: scale(1.1);
			.hide {
				opacity: 1;
				height: auto;
			}
		}

		.hide {
			transition: 1s;
			height: 0;
			opacity: 0;
		}

		&--shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
}

.school {
	display: flex;
	align-items: center;
	gap: 4rem;
	padding: 4rem;
	.main-img {
		width: 25rem;
		height: 20rem;
		border-radius: 25px;
		object-fit: cover;
	}
	.heading::before {
		position: absolute;
		left: 0;
		right: 0;
	}
	.main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		.right {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}
		iframe {
			border-radius: 25px;
			width: 25rem;
			height: 25rem;
		}
		img {
			max-width: 20rem;
		}
		p {
			font-size: 2rem;
			text-align: center;
			span {
				color: c.$main-color;
			}
			a {
				color: c.$text-color;
			}
		}
	}
	.average-results {
		padding: 2rem;
		max-width: 1440px;
		width: 100%;
		h2 {
			margin-bottom: 2rem;
			font-size: 3rem;
			color: c.$main-color;
			text-align: center;
		}
		div {
			display: flex;
			flex-direction: column;
			gap: 3rem;
			div {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;
			}
		}
		p {
			font-size: 2rem;
		}
		meter {
			width: 100%;
			height: 4rem;
			&::-webkit-meter-bar {
				background-color: #ffa4a4;
			}
			&::-webkit-meter-even-less-good-value,
			&::-webkit-meter-suboptimum-value,
			&::-webkit-meter-optimum-value {
				background-color: c.$main-color;
			}
		}
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 1rem;
	margin-top: 2rem;
	text-align: center;
	color: c.$text-color;
	background-color: c.$background-color-nav;
	font-size: 1.6rem;
}

@media (min-width: 576px) {
	.nav {
		&--header {
			.nav--title {
				p {
					font-size: 3rem;
				}

				img {
					width: 3rem;
					height: 3rem;
				}
			}
		}
		&--links.show {
			a {
				font-size: 2rem;
			}
		}
	}
	.header {
		&--shadow {
			.text-box {
				h1 {
					font-size: 6rem;
				}
				p {
					font-size: 2rem;
				}
				.btn {
					font-size: 2rem;
					padding: 1.5rem 4rem;
				}
			}
		}
	}
	.section {
		.text-box {
			.heading {
				font-size: 3rem;
			}
			.description {
				font-size: 2rem;
			}
		}
	}
	.guide {
		.cards {
			.card {
				width: 40rem;
				height: 40rem;
				&--title {
					font-size: 2.5rem;
				}
			}
		}
	}
	.school {
		.main-img {
			width: 50rem;
			height: 40rem;
		}
		.heading {
			font-size: 4rem;
		}
		.main-content {
			iframe {
				width: 40rem;
				height: 40rem;
			}
			img {
				max-width: 30rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		.wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&--header {
			.nav--menu {
				display: none;
			}
		}
		&--links {
			display: flex;
			gap: 4rem;
			a {
				font-size: 1.8rem;
			}
		}
	}
	.header {
		&--image {
			background-image: url('../img/big-hero-bg.jpg');
		}
		&--shadow {
			.text-box {
				h1 {
					font-size: 8rem;
				}
				p {
					font-size: 3rem;
				}
				.btn {
					font-size: 3rem;
					padding: 2rem 6rem;
				}
			}
		}
	}
	.section {
		padding: 5rem 4rem 0;

		.text-box {
			.description {
				font-size: 2.5rem;
			}
			.heading {
				font-size: 4rem;
			}
		}
	}
	.guide {
		.cards {
			display: flex;
			justify-content: center;
			flex-direction: row;
			.card {
				width: 50rem;
				height: 50rem;
				&--title {
					font-size: 3.5rem;
				}
			}
		}
	}
	.ranking {
		.text-box {
			.heading {
				font-size: 6rem;
			}
		}

		.podium {
			gap: 7rem;
		}

		.card {
			width: 25rem;
			min-height: 25rem;

			&--third_place {
				order: 1;
			}
			&--second_place {
				order: -1;
			}

			&--third_place,
			&--second_place {
				transform: scale(1);
			}

			&--first_place {
				order: 0;
				transform: scale(1.2);
			}

			&--content {
				P:nth-of-type(1) {
					font-size: 5rem;
				}
				p:nth-of-type(2) {
					font-size: 1.4rem;
				}
				h2 {
					font-size: 1.6rem;
				}
			}
		}
	}
	.school {
		.main-img {
			width: 80rem;
			height: 50rem;
		}
		.main-content {
			flex-direction: row;
			text-align: left;
			.right {
				width: 50%;
			}
			iframe {
				width: 50%;
			}
		}
		.average-results {
			div {
				div {
					flex-direction: row;
				}
			}
		}
	}
}
